<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
{% include 'head.html' %}
<body class="d-flex flex-column h-100">
{% include 'theme-select.html' %}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="calendar-event" viewBox="0 0 16 16">
        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
    </symbol>
</svg>
{% include 'header.html' %}
{% include 'flashed-messages.html' %}

<main class="w-100 m-auto">
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group">
            <h3>To Do</h3>
            <form method="POST" action="/mark-completed">
                {% for task in tasks %}
                <label class="list-group-item d-flex gap-3">
                    <input class="form-check-input flex-shrink-0" id="task_{{ task.id }}" name="task_{{ task.id }}"
                           type="checkbox" value="{{ task.id }}" style="font-size: 1.375em;">
                    <span class="pt-1 form-checked-content"> <strong><a
                            href="{{ url_for('get_task', task_id=task.id) }}">{{ task.title }}</a></strong>
                        <small class="d-block text-body-secondary">
                            <svg class="bi me-1" width="1em" height="1em" role="img" aria-label="Schedule"><use
                                    xlink:href="#calendar-event"></use></svg>
                        Created on {{ task.created_on }}
                        </small>
                    </span>
                </label>
                {% endfor %}

                <a class="list-group-item d-flex gap-3 text-body-secondary w-50"
                   href="{{ url_for('get_create_task') }}">Add Task</a>
                <button class="list-group-item d-flex gap-3 text-body-secondary w-50" type="submit">Mark completed
                </button>


            </form>
        </div>
        <div class="list-group">
            <h3>Completed Tasks</h3>
            <form method="POST" action="/delete-tasks">
                {% for task in completed %}
                <label class="list-group-item d-flex gap-3">
                    <input class="form-check-input flex-shrink-0" id="completed_task_{{ task.id }}"
                           name="completed_task_{{ task.id }}"
                           type="checkbox" value="{{ task.id }}" style="font-size: 1.375em;">
                    <span class="pt-1 form-checked-content"> <strong><a
                            href="{{ url_for('get_task', task_id=task.id) }}">{{ task.title }}</a></strong>
                        <small class="d-block text-body-secondary">
                            <svg class="bi me-1" width="1em" height="1em" role="img" aria-label="Schedule"><use
                                    xlink:href="#calendar-event"></use></svg>
                        Completed on {{ task.completed_on }}
                        </small>
                    </span>
                </label>
                {% endfor %}
                <button class="list-group-item d-flex gap-3 text-body-secondary w-50" type="submit"><span
                        class="pt-1 form-checked-content"> <span contenteditable="true">DELETE</span> </span>
                </button>
            </form>
        </div>
    </div>
</main>
{% include 'footer.html' %}